@font-face {
    font-family: 'ibm_plex_sanslight';
    src: url('fonts/ibm_plex_sans_light-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'space_grotesklight';
    src: url('fonts/space_grotesk_light-webfont.woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


:root {

    --font-1-family: space_grotesklight,
        Arial,
        sans-serif;

    --font-2-family: ibm_plex_sanslight,
        Arial,
        sans-serif;

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    h4 {
        font-size: 1.4rem;
    }

    h5 {
        font-size: 1.2rem;
    }

    h6 {
        font-size: 1.2rem;
    }

    /* ——— SOLID LIGHT SCALE (6) ——— */
    --color-light-1: #92c676;
    --color-light-2: #79cb96;
    --color-light-3: #6aceb4;
    --color-light-4: #6ccfcc;
    --color-light-5: #7fcddb;
    --color-light-6: #99cbe1;

    /* ——— SOLID DARK SCALE (6) ——— */
    --color-dark-1: #393632;
    --color-dark-2: #372f2b;
    --color-dark-3: #342729;
    --color-dark-4: #2d2129;
    --color-dark-5: #211d2a;
    --color-dark-6: #0e1a28;

    /* ——— LIGHT 1 ALPHA (6) ——— */
    --color-light-1-alpha-1: rgba(146, 198, 118, 0.14);
    --color-light-1-alpha-2: rgba(146, 198, 118, 0.29);
    --color-light-1-alpha-3: rgba(146, 198, 118, 0.43);
    --color-light-1-alpha-4: rgba(146, 198, 118, 0.57);
    --color-light-1-alpha-5: rgba(146, 198, 118, 0.71);
    --color-light-1-alpha-6: rgba(146, 198, 118, 0.86);

    /* ——— LIGHT 6 ALPHA (6) ——— */
    --color-light-6-alpha-1: rgba(153, 203, 225, 0.14);
    --color-light-6-alpha-2: rgba(153, 203, 225, 0.29);
    --color-light-6-alpha-3: rgba(153, 203, 225, 0.43);
    --color-light-6-alpha-4: rgba(153, 203, 225, 0.57);
    --color-light-6-alpha-5: rgba(153, 203, 225, 0.71);
    --color-light-6-alpha-6: rgba(153, 203, 225, 0.86);

    /* ——— DARK 1 ALPHA (6) ——— */
    --color-dark-1-alpha-1: rgba(57, 54, 50, 0.14);
    --color-dark-1-alpha-2: rgba(57, 54, 50, 0.29);
    --color-dark-1-alpha-3: rgba(57, 54, 50, 0.43);
    --color-dark-1-alpha-4: rgba(57, 54, 50, 0.57);
    --color-dark-1-alpha-5: rgba(57, 54, 50, 0.71);
    --color-dark-1-alpha-6: rgba(57, 54, 50, 0.86);

    /* ——— DARK 6 ALPHA (6) ——— */
    --color-dark-6-alpha-1: rgba(14, 26, 40, 0.14);
    --color-dark-6-alpha-2: rgba(14, 26, 40, 0.29);
    --color-dark-6-alpha-3: rgba(14, 26, 40, 0.43);
    --color-dark-6-alpha-4: rgba(14, 26, 40, 0.57);
    --color-dark-6-alpha-5: rgba(14, 26, 40, 0.71);
    --color-dark-6-alpha-6: rgba(14, 26, 40, 0.86);

    /* ——— BLACK ALPHA (6) ——— */
    --color-black-alpha-1: rgba(0, 0, 0, 0.14);
    --color-black-alpha-2: rgba(0, 0, 0, 0.29);
    --color-black-alpha-3: rgba(0, 0, 0, 0.43);
    --color-black-alpha-4: rgba(0, 0, 0, 0.57);
    --color-black-alpha-5: rgba(0, 0, 0, 0.71);
    --color-black-alpha-6: rgba(0, 0, 0, 0.86);

    /* ——— WHITE ALPHA (6) ——— */
    --color-white-alpha-1: rgba(255, 255, 255, 0.14);
    --color-white-alpha-2: rgba(255, 255, 255, 0.29);
    --color-white-alpha-3: rgba(255, 255, 255, 0.43);
    --color-white-alpha-4: rgba(255, 255, 255, 0.57);
    --color-white-alpha-5: rgba(255, 255, 255, 0.71);
    --color-white-alpha-6: rgba(255, 255, 255, 0.86);

    /* ——— STATIC COLORS (2) ——— */
    --color-white: white;
    --color-black: black;

}

.custom-slider {
    z-index: -1;
}

.flex-list-item {
    display: grid;
    grid-auto-flow: column;
}