@font-face {
    font-family: 'ibm_plex_sanslight';
    src: url('fonts/ibm_plex_sans_light-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'space_grotesklight';
    src: url('fonts/space_grotesk_light-webfont.woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


:root {

    --font-1-family: space_grotesklight,
        Arial,
        sans-serif;

    --font-2-family: ibm_plex_sanslight,
        Arial,
        sans-serif;

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    h4 {
        font-size: 1.4rem;
    }

    h5 {
        font-size: 1.2rem;
    }

    h6 {
        font-size: 1.2rem;
    }

}

.custom-slider {
    z-index: -1;
}